[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
engine-akadic01 = {editable = true, path = "./../engine"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
